<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="beipin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="sanhua.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="beipin.Properties.Settings.dbConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <applicationSettings>
        <beipin.Properties.Settings>
            <setting name="beipin_SANHUAOpenService_SANHUAOpen" serializeAs="String">
                <value>http://192.168.128.11/sanhuaopen/sanhuaopen.asmx</value>
            </setting>
            <setting name="beipin_SanhuaService_SANHUAOpen" serializeAs="String">
                <value>http://192.168.128.11/sanhuaopen/sanhuaopen.asmx</value>
            </setting>
        </beipin.Properties.Settings>
        <sanhua.Properties.Settings>
            <setting name="sanhua_SANHUAOpenService_SANHUAOpen" serializeAs="String">
                <value>http://192.168.128.11/sanhuaopen/sanhuaopen.asmx</value>
            </setting>
            <setting name="sanhua_SanhuaService_SANHUAOpen" serializeAs="String">
                <value>http://192.168.128.11/sanhuaopen/sanhuaopen.asmx</value>
            </setting>
        </sanhua.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
